header{ 
    color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    padding: 20px 554;
  background-color: #261B2F;
}

.caixa {
    position: relative;
    width: 1400px;
    margin: 0 auto;    
   }

   nav {
    position: absolute;
    top: 50px;
    right: 75%;
    color: rgba(214, 74, 30, 1); 
}

.titulo-centralizado {
    text-align: center;
    color: rgb(8, 61, 249) }

.logo{


    
}


 body{
    background-color: #32184A;
   
}