header{ 
    color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    padding: 20px 554;
  background-color: #261B2F;
}

.caixa {
    position: relative;
  width:98%;
  right: 0%;
    margin: 0 auto;    
   }

   nav {
    position: absolute;
    top: 50px;
    right: 75%;
    color: rgba(214, 74, 30, 1); 
}

.titulo-centralizado {
    text-align: center;
    color: rgb(8, 61, 249) }


 body{
    background-image: linear-gradient(to bottom, rgba(10, 7, 13, 1), rgba(132, 65, 185, 0.58));

  
}

.titulo-principal {
    padding-right: 10px;
    display:inline;
;
 }

  .titulo-centralizado {
    text-transform: uppercase;
    position: relative;
    top: 50px;
   right: 0%;
    color: rgb(8, 61, 249);}

    .corpo{
font-size: semi-bold;
}

.augusto{

  position: absolute;
     top: 40%;
    right:  60%;
}

.guto {
    text-transform: none;
    position: absorelativelute;
    top: 75%;
    right: 60%;
    color: black;
    
}

.emily{
    position: absolute;
     top: 40%;
    right:  20%;
     margin-top: 0 auto;
}

.emy {
    text-transform: none;
    position: absolute;
    top: 125%;
    right: 55%;
    color: black; 
}

.gabriela {
    position: absolute;
     top: 1250px;
    right:  50%;
     margin-top: 0 auto;
}

.ju{
    text-transform: none;
    position: absolute;
    top: 1600px;
    right: 55% ;
    color: black;
}
.julia{
    position: absolute;
    top: 80%;
   right:  20%;
    margin-top: 0 auto;
}

.kemyle {
    position: absolute;
    top: 80%;
    right: 40%;
    margin: 0 auto;
}

.kemy {
    text-transform: none;
    position: relative;
    top: -935px;
    right: -73%;
    color: black;
}
.sthefany {
    position: relative;
    top: -1655px;
    right: -70%;
    margin-top: 0 auto;
} 
.sthe{
    text-transform: none;
    position: relative;
    top: -1654px;
    right: -71%;
    color: black;

}
.morango {
    text-transform: none;
    position: relative;
    top: -700px;
    right: -45%;
    color: red;
}

.vi {
    text-transform: none;
    position: relative;
    top: -690px ;
    right: 0% ;
    color: black;
}

.liPolo {
    position: relative;
    top: -680px ;
    right: 0% ;
    
}
.gabi {
    text-transform: none;
    position: absolute;
    top: 1700px;
    right: 55%;
    color: black; 
}
@media screen and (min-width: 320px) {
    
    




}
    
