header{ 
    color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    padding: 20px 554;
  background-color: #261B2F;
}

.caixa {
    position: relative;
    width: 1400px;
    margin: 0 auto;    
   }

   nav {
    position: absolute;
    top: 50px;
    right: 75%;
    color: rgba(214, 74, 30, 1); 
}

.titulo-centralizado {
    text-align: center;
    color: aquamarine;
 }

.jumento {
    position: relative;
    top: 180px;
    right: -46%;
    color:  rgb(8, 61, 249);
}

 body{
  background-color: rgba(132, 65, 185, 0.58);
   width: 100%;
}

.corpo {
  
}
.titulo-principal {
    padding-right: 10px;
    display:inline;

     }


  .titulo-centralizado {
    text-transform: uppercase;
    position: relative;
    top: 100px;
   right: 0%;
    color: aquamarine;
 
}
.tex{
       text-transform: uppercase;
      position: relative;
     top: 200px;
    right:  -11%;
    width:  800px;
     margin-top: 0 auto  ;
     color: #000000;  }
.fiu{
    position: relative;
     top: 80px;
    right:  -13%;
    width:  300px;
     margin-top: 0 auto  ;
    }
.fiu2{
      position: relative;
     top: 80px;
    right:  -3%;
    width:  300px;
     margin-top: 0 auto  ;

    }

   
.vid-tex{
 
      position: relative;
     top: 340px;
    right:  -31%;
    width:  200px;
     margin-top: 0 auto  ;
     color: #f8f5f5; 
 text-transform: uppercase; 

}
.vid{
  
  position: relative;
  top: 19px;
 right:  -25%;
 width:  300px;
  margin-top: 0 auto  ;

}

.emo {
    text-align: short;
    position: relative;
    top: 100px;
    right: 0%;relative
    color: black;
    width: 70%;
}

.ju {
    position: relative;
    top: 150px ;
    right: -46% ;
    color: rgb(8, 61, 249);
}

.acai {
    position: relative;
    top: 220px;
    right: -9%;
    margin-top: 0 auto;
}

.ninho {
    position: relative;
    top: 220px;
    right:-15%;
    margin-top:0 auto;
} 
.kiwi {
    position: relative;
    top: 220px ;
    right:-20%;
    margin:0 auto;

}

.coisa {
    position: relative;
    top: 220px ;
    right: -25% ;
    margin: 0 auto ;
}

.ga {
    text-align: short;
    position: relative;
    top: 260px;
    right: 0%;relative
    color: black;
    width: 70%;
}

.fe {
    text-align: short;
    position: relative;
    top:350px;
    right: -46%;
    color: rgb(8, 61, 249);
    width:70%;
}

.gato {
    position: relative;
    top:500px;
    right:  -9%;
    margin: 0 auto;
}

.fa { 
    position: relative;
    top:500px;
    right:  -10%;
    margin: 0 auto;

}