header{ 
    background-color: #261B2F;
    display: flex;
    justify-content: space-around;
    padding: 20px 554;
}

   .caixa {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50px;
    right: 75%;
    color: rgba(214, 74, 30, 1); 
}

.titulo-principal {
	padding-right: 10px;
    display:inline;

     }

body{
    background-color: #32184A;
   
}
.titulo-centralizado {
    text-align: center;
    color: rgb(8, 61, 249);

}
.corpo{
font-size: semi-bold;
}


 .Objetivo{
    text-align: center;
    color: #ffffff;
     

 } 
 .img-projeto{
     top: 9000px;
  
    padding: 100px 0;
        right: 75%;
 display: inline;
 }
 .img-criadores{
      display: inline; 
    top: 9000px;
    margin: 0 auto;
    padding: 100px 0;
    
   
 }