header{ 
  background-color: #261B2F;
}

.logo {
    position: relative;
    top: 35px;
    right: -2%;
    visibility: hidden;
}

.titulo-principal {
    position: relative;
    top: -78px;
    right: -15%;
    color: rgba(253, 137, 0, 1);
    visibility: hidden;
}


body{
    background-color: rgba(132, 65, 185, 0.58);
   width: 100%;
}

.comeco {
    position: relative;
    top: -5px;
    right: -30%;
    color: aqua;
    visibility: hidden;
}

.projetos {
    position: relative;
    top: 80px;
    right: -50%;
    visibility: hidden;
}

.criadores {
    position: relative;
    top: -190px;
    right: -20%;
    visibility: hidden;
}

.texto {
    position: relative;
    top: 10px;
    right: -10%;
    color: black;
    visibility: hidden;
}

.meloso {
    position: relative;
    color: aqua;
    top: 10px;
    right: -25%;
}
