header{ 
    color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    padding: 30% 0,01%;
  background-color: #261B2F;
}

   .caixa {
    position: relative;
    width: 140%;
    margin: 0% auto;
}

nav {
    position: absolute;
    top: 30%;
    right: 75%;
    color: rgba(253, 137, 0, 1);
}


.titulo-principal {
	padding-right: 10%;
    width: 10%;
    right: 10%%;
    display:inline;
}

body{
    background-image: linear-gradient(to bottom, rgba(10, 7, 13, 1), rgba(132, 65, 185, 0.58));
   width: 100%;
}
.titulo-centralizado {
    text-transform: uppercase;
    position: relative;
    top: 22px;
    right: -30%;
    color: rgb(8, 61, 249);

}

.corpo{
font-size: semi-bold;
}


 .Objetivo{
    position: relative;
    width: 70%;
    top: 30px;
    right: -10%;
    color: #ffffff;
 } 

 .img-projeto{
  position: relative;
    top: -170px;
    right: -60%;
    width: 105%;
    margin: 0% auto;
 }

 .img-criadores{
   position: relative;
    top: 170px;
    right: -15%;
    width: 105%;
    margin: 0 auto;
 }

 .veja{
    text-transform: uppercase;
    position: relative;
    top: 50px;
    right: -20%;
        color: rgba(255, 0, 199, 1);
     }
.TEXTO{
    text-transform: uppercase;
    position: relative;
     width: 70%;
    top: 80px;
    right: -10%;
        color: #ffffff;
     }
 .la-ele{
    text-transform: uppercase;
    position: relative;
    top: 120px;
    right: -10%;
        color: rgba(255, 0, 199, 1);
     }


.cria {
    text-transform: none;
    position: relative;
    top: -30px;
    right: -17%;
    color: black; 
}

.proj {
   text-transform: none;
    position: relative;
    top: -4%;
    right: -63%;
    color: black;  
}