header{ 
  background-color: #261B2F;
}

.logo {
    position: relative;
    top: 35px;
    right: -2%;
}

.titulo-principal {
    position: relative;
    top: -78px;
    right: -15%;
    color: rgba(253, 137, 0, 1);
}


body{
    background-color: rgba(132, 65, 185, 0.58);
   width: 100%;
}

.comeco {
    position: relative;
    top: -5px;
    right: -30%;
    color: aqua;
}
