header{ 
    color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    padding: 30% 0,01%;
  background-color: #261B2F;
}

   .caixa {
    position: relative;
    width: 140%;
    margin: 0% auto;
}

nav {
    position: absolute;
    top: 30%;
    right: 75%;
    color: rgba(253, 137, 0, 1);
}


.titulo-principal {
	padding-right: 10%;
    width: 10%;
    right: 10%;
    display: inline;
}

body{
    background-image: linear-gradient(to bottom, rgba(10, 7, 13, 1), rgba(132, 65, 185, 0.58));
   width: 100%;
}
.titulo-centralizado {
    text-transform: uppercase;
    position: relative;
    top: 22px;
    right: -30%;
    color: rgb(8, 61, 249);
}