header{ 
    color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    padding: 30% 0,01%;
  background-color: #261B2F;
}

.logo {
    position: relative;
    top: 10%;
    right: 10%;
}

.titulo-principal {
    position: relative;
    top: 20%;
    right: 20%;
    color:  rgb(255, 115, 0);
}

body{
    background-color: rgba(132, 65, 185, 0.58);
   width: 100%;
}

.apresentacao {
    position: relative;
    top: 20%;
    right: -5px;
    color: black;
}