header{ 
    color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    padding: 30% 0,01%;
  background-color: #261B2F;
}

.logo {
    position: relative;
    top: 10%;
    right: 10%;
}

.titulo-principal {
    position: relative;
    top: 20%;
    right: 20%;
    color:  rgb(255, 115, 0);
}

body{
    background-color: rgba(132, 65, 185, 0.58);
   width: 100%;
}

.apresentacao {
    position: relative;
    top: 20px;
    right: -40%;
    color: rgb(10, 241, 87);

}
.agua{
    position: relative;
    top:85px ;
    right:-9% ;
}

.fogo {
    position: relative;
    top:-310px ;
    right:11% ;
}

.jujuba {
   position:  relative;   
   top: -111px;
   right: 31%;
}

.marmita {
   position: relative;
   top: 90px;
   right: -11%;

}

.chuva {
    position: relative;
    top: 50px;
    right: -35%;
}
 
.sol{
    position: relative;
    top:55px ;
    right: -40;
}